@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  background-image: url("../concept/ok.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
